* {
  box-sizing: border-box;
}
:root {
  --base-dark-green: #0c9444;
  --base-light-green: #8bc63f;
  --base-yellow: #f5ee31;
  --base-gray: #d1d2d4;
}
.main-container {
  width: 100vw;
  height: 100vh;
}
.row {
  display: flex;
  flex-direction: column;
}
.header,
.footer {
  background-color: #d1d2d4;
  padding-bottom: 45px;
}

.left-col {
  background-color: var(--base-dark-green);
  padding-bottom: 20%;
}
.middle-col {
  background-color: var(--base-light-green);
  order: -1;
  padding-bottom: 60%;
}
.side-col {
  background-color: var(--base-yellow);
  padding-bottom: 20%;
}
.main-container > * {
  margin-bottom: 4px;
}
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .row {
    display: column;
    flex-flow: row wrap;
  }
  .col-s-3 {
    width: 50%;
  }
  .col-s-6 {
    order: -1;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-3 {
    width: 25%;
  }
  .col-6 {
    width: 50%;
    order: 0;
  }
}
