* {
  box-sizing: border-box;
}
:root {
  --base-red: #ef4036;
  --base-orange: #fcb040;
  --base-yellow: #f5ee31;
  --base-gray: #d1d2d4;
}
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
.header,
.main-container {
  -bottom: 12px;
}
.header,
.footer {
  padding-bottom: 3%;
  background-color: #d1d2d4;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 94%;
}
.container-1 {
  display: flex;
  flex-direction: column;
  height: 66.66%;
}
.top {
  background-color: #ef4036;
  height: 50%;
}
.middle {
  background-color: #fcb040;
  height: 50%;
}
.bottom {
  background-color: #f5ee31;
  height: 33.33%;
}
.header,
.main-container {
  margin-bottom: 5px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .container-1 {
    width: 50%;
    height: 100%;
  }
  .bottom {
    width: 50%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .container-1 {
    width: 75%;
    height: 100%;
  }
  .bottom {
    width: 25%;
    height: 100%;
  }
}
